<a href="https://colab.research.google.com/github/sudheer-9496/python-new/blob/module2/19_04_22_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def SV():
 print("hello")
 print("world")
SV()

hello
world

In [ ]:
def SV(fname):
  print(fname + " VARMA")
SV("SUDHEER")
SV("SUDHEER")
SV("SUDHEER")

SUDHEER VARMA
SUDHEER VARMA
SUDHEER VARMA

In [ ]:
def vote(age,gender,name):
   print("age=",age,"gender=",gender,"name=",name)
   if age>=18:
     print("eligble")
   else:
     print("not eligible")
vote(18,"male","sudheer")

age= 18 gender= male name= sudheer
eligble

In [ ]:
def vote(age,gender,name):
   print("age=",age,"gender=",gender,"name=",name)
   if age>=18:
     print("eligble")
   else:
     print("not eligible")
vote(age=int(input()),gender=input(),name=input())

18
M
sv
age= 18 gender= M name= sv
eligble

In [ ]:
def vote(age,gender,name):
  print("age=",age,"gender=",gender,"name=",name)
  x=lambda age:age>18
  print("Eligible")
  vote()

In [ ]:
def my_function(food):
  for x in food:
    print(x)
fruits = ["apple", "banana", "cherry"]
my_function(fruits)

apple
banana
cherry

In [ ]:
#absolurte
a=30.5
b=abs(a)
print(b)
#pow
a=12
b=pow(a,2)
print(b)

30.5
144