<a href="https://colab.research.google.com/github/sudheer-9496/python-new/blob/module2/assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Program to print a specified list after removing the 0th, 4th and 5th elements.
####Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
####Expected Output : ['Green', 'White', 'Black']

In [ ]:
list= ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
list.pop(0)
list.pop(4)   
list.pop(3)
print(list)

['Green', 'White', 'Black', 'Pink', 'Yellow']

## Program to get the difference between the two lists.

In [ ]:
l1 = [10, 15, 20, 25, 30, 35, 40]
l2 = [25, 40, 35]
l3 = Diff(li1, li2)
print(l3)

[10, 15, 20, 30]

## Program to find the second smallest number and second largest number in a list.

In [ ]:
def find_len(list1):
	length = len(list1)
	list1.sort()
	print("Second Largest element is:", list1[length-2])
	print("Second Smallest element is:", list1[1])

list1=[12, 45, 2, 41, 31, 10, 8, 6, 4]
Largest = find_len(list1)

Second Largest element is: 41
Second Smallest element is: 4

####Given a list of numbers of list, write a Python program to create a list of tuples having first element as the number and second element as the square of the number.

In [ ]:
list1 = [1, 6, 9, 69]
res = [(val, pow(val, 2)) for val in list1]
print(res)

[(1, 1), (6, 36), (9, 81), (69, 4761)]

###Given list of tuples, remove all the tuples with length K.
###Input : test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)], K = 2
###Output : [(4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
###Explanation : (4, 5) of len = 2 is removed.

In [ ]:

test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]

print("The original list : " + str(test_list))

K = 2
res = [ele for ele in test_list if len(ele) != K]

print("Filtered list : " + str(res))

The original list : [(4, 5), (4,), (8, 6, 7), (1,), (3, 4, 6, 7)]
Filtered list : [(4,), (8, 6, 7), (1,), (3, 4, 6, 7)]

###Program to generate and print a dictionary that contains a number (between 1
and n) in the form (x, x*x).
Sample Input: (n=5) :
Expected Output : {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
n=int(input("Enter a number "))
d = dict()
for x in range(1,n+1):
    d[x]=x*x
print(d)

Enter a number 5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

#### Program to remove a key from a dictionary

In [ ]:
diction = {'a':1,'b':2,'c':3,'d':4}
print(diction)
if 'a' in diction: 
    del diction['d']
print(diction)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'a': 1, 'b': 2, 'c': 3}

Program to perform operations on string using unicodes ,splitting of string,accessing
elements of string using locations

######Program for Counting occurrence of a certain element in a string, getting indexes that have matching elements

In [ ]:

test_str = "Violence, Violence, Violence!!!"

count = 0

for i in test_str:
	if i == 'e':
		count = count + 1

print ("Count of e in Violence, Violence, Violence!!! is : "
							+ str(count))

Count of e in Violence, Violence, Violence!!! is : 6

####Program for replacing one substring by another

In [ ]:
string = "Violence, Violence, Violence!!!, I dont like, I avoidddd...."
print(string.replace("....", " ,but Violence likes me, I cant avoidddd"))
print(string.replace("....", "but Violence likes me, I cant avoidddd", 1))

Violence, Violence, Violence!!!, I dont like, I avoidddd ,but Violence likes me, I cant avoidddd
Violence, Violence, Violence!!!, I dont like, I avoiddddbut Violence likes me, I cant avoidddd